.logo {
    max-height: 100%;
    float: left;
    margin-right: 10px;
}

.slogan {
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
}

.portfolio-header {
    border-bottom: 1px solid #2d3c49;
    color: #7d97ad;
}

.img-center {
    margin: 0 auto;
}

.footer {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #2d3c49;
}

.project-title {
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

