.row {
    height: 200px;
}

.logo {
    max-height: 100%;
    float: left;
    margin-right: 10px;
}

.slogan {
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
}

.main-image {
    max-height: 100%;
    max-width: 100%;
}

